:root {

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1020px;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;

  .container {
    .header-container {
      display: flex;
      justify-content: space-between;

      .img-container {
        flex: 1;

        & img {
          height: 58px;

        }
      }


      & p {
        flex: 1;
      }
    }
  }
}


